body[data-theme="light"] {
    @import '../src/scss/light-slider.scss';
 
    .slider-tab {
       background-color: #D7CAAA;
    }

    #TT-img {
        img {
            height: 100%;
            width: auto;
            position: absolute;
            top: 0;
            left: 30%;
        }
    }
}